<%- include('layout/meta') -%>
    <%- include('components/header') -%>
        <div class="bg-white">
            <div class="uk-container py-4">
                <div class="row">
                    <div class="col-md-6">
                        <form action="">
                            <h6 class="p-3 bg-primary text-white text-md-left text-center text-uppercase">
                                Liên hệ gớp ý
                            </h6>
                            <div class="form-group d-inline-flex">
                                <label class="mr-5">
                                    <input class="uk-radio" type="radio" name="radio"> Anh
                                </label>
                                <label>
                                    <input class="uk-radio" type="radio" name="radio"> Chị
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="uk-input" placeholder="Họ và tên*">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="uk-input" placeholder="Số điện thoại*" type="tel" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="uk-input" placeholder="Địa chỉ nhận hàng*">
                            </div>
                            <h6 class="p-3 bg-primary text-white text-md-left text-center text-uppercase">
                                Hình thức thanh toán
                            </h6>
                            <div class="form-group d-inline-flex">
                                <label class="mr-5">
                                    <input class="uk-radio" type="radio" name="payment" checked> Nhận hàng tại nhà
                                </label>
                                <label>
                                    <input class="uk-radio" type="radio" name="payment"> Nhận hàng tại trung tâm
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="uk-input" placeholder="Tỉnh/Thành Phố*">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="uk-input" placeholder="Quận/Huyện">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="uk-input" placeholder="Phường/Xã*">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="uk-input" placeholder="Địa Chỉ">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="5" class="uk-textarea" placeholder="Lời nhắn"></textarea>
                            </div>
                            <h6 class="p-3 bg-primary text-white text-md-left text-center text-uppercase">
                                Vận chuyển
                            </h6>
                            <div class="form-group">
                                <div class="d-block">
                                    Quý khách vui lòng chọn hình thức nhận hàng
                                </div>
                                <label>
                                    <input class="uk-radio" type="radio" name="travel" checked> Muốn thoả thuận với Siêu thị Tuson.vn
                                </label>
                                <label>
                                    <input class="uk-radio" type="radio" name="travel"> Nhân viên chúng tôi sẽ gọi đến cho quý khách
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="uk-input" placeholder="Thời gian giao hàng">
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="5" class="uk-textarea" placeholder="Ghi chú"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-lg text-uppercase text-white">Gửi đơn hàng</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h6 class="p-3 bg-primary text-white text-md-left text-center text-uppercase">
                            Đơn hàng (2 sản phẩm)
                        </h6>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-middle uk-table-small uk-table-divider" style="min-width: 550px">
                                <thead>
                                    <tr>
                                        <th>Sản Phẩm</th>
                                        <th></th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=1; i <= 5; i++) {%>
                                        <tr>
                                            <td class="text-center">
                                                <img class="img-thumbnail" alt="" data-src="./dist/images/canon.jpg" width="50px" uk-img="">
                                            </td>
                                            <td>
                                                <b class="d-block uk-text-small">Tủ lạnh Hitachi</b>
                                                <div class="d-block uk-text-small">Màu sắc: Đen</div>
                                            </td>
                                            <td class="text-center">
                                                <input class="uk-input" value="<%= i %>" type="number" name="" id="" style="width: 80px">
                                            </td>
                                            <td class="text-danger uk-text-small">
                                                31,000,000đ
                                            </td>
                                            <td class="text-danger uk-text-small">
                                                31,000,000đ
                                            </td>
                                            <td class="text-center">
                                                <a href="#" uk-icon="trash">

                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-block border-bottom border-muted py-4 px-3">
                            <div class="row py-2">
                                <div class="col-4">
                                    Tạm tính
                                </div>
                                <div class="col-8 text-danger">
                                    380,000,000đ
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    Phí vận chuyển
                                </div>
                                <div class="col-8 text-danger">
                                    38,000đ
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="text" class="uk-input" placeholder="Mã Giảm Giá">
                                            </div>
                                            <div class="col-4 px-0">
                                                <button class="uk-button uk-button-default">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    Tổng tiền
                                </div>
                                <div class="col-8 text-danger">
                                    380,000,000đ
                                </div>
                            </div>
                        </div>
                        <div class="d-block py-3 text-center">
                                <a href="#" class="btn btn-info btn-lg text-uppercase text-white mr-md-2 mb-md-0 mb-3">Tiếp tục mua hàng</a>
                                <button type="submit" class="btn btn-danger btn-lg text-uppercase text-white">Gửi đơn hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('layout/footer') -%>