<div class="bg-primary">
    <div class="container text-center py-3">
        <form action="">
            <div class="form-group mb-0">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center text-white">
                        <label class="mb-0">Cập nhật thông tin khuyến mãi nhanh nhất</label>
                    </div>
                    <div class="col-md-6 text-md-left text-center">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control rounded-0 border-0" id="input-reg-news" aria-describedby="reg-news" placeholder="Đăng ký email">
                            <div class="input-group-prepend">
                                <button class="px-4 btn btn-info rounded-0 border-0" id="reg-news">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bg-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col-md-3 text-center">
                        <i class="text-info" uk-icon="icon: move; ratio: 2"></i>
                    </div>
                    <div class="col-md-9 px-md-0 text-md-left text-center">
                        <b class="text-info text-uppercase d-block">Miễn phí vận chuyển</b>
                        <small class="text-dark">Trong phạm vi bán kính 5km</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <i class="text-info" uk-icon="icon: world; ratio: 2"></i>
                    </div>
                    <div class="col-md-9 px-md-0 text-md-left text-center">
                        <b class="text-info text-uppercase d-block">Cam Kết Chính Hãng</b>
                        <small class="text-dark">đảm bảo chất lượng 100%</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <i class="text-info" uk-icon="icon: users; ratio: 2"></i>
                    </div>
                    <div class="col-md-9 px-md-0 text-md-left text-center">
                        <b class="text-info text-uppercase d-block">Hỗ Trợ Tư Vấn</b>
                        <small class="text-dark">Thứ 2 - Thứ 7 08g30 - 17g30</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <i class="text-info" uk-icon="icon: receiver; ratio: 2"></i>
                    </div>
                    <div class="col-md-9 px-md-0 text-md-left text-center">
                        <b class="text-info text-uppercase d-block">1900 1569</b>
                        <small class="text-dark"></small>gọi để đặt hàng ngay</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bg-light-blue">
        <div class="uk-container">
            <div class="d-md-flex py-3">
                <div class="flex-1 mb-md-0 mb-4">
                    <img data-src="./dist/images/logo.png" alt="" uk-img>
                    <div class="d-block uk-text-small pr-3">
                        Tuson.vn chuyên cung cấp các sản phẩm chính hãng với đầy đủ các loại sản phẩm
                        cơ điện lạnh, điện gia dụng,... Với các thương hiệu nổi tiếng được nhập khẩu từ
                        nhiều nước trên thế giới
                    </div>
                </div>
                <div class="flex-1 mb-md-0 mb-4">
                    <h6 class="text-uppercase uk-text-bold">Thông tin công ty</h6>
                    <ul class="nolist">
                        <li><a class="uk-text-small" href="#">Lịch sử hình thành</a></li>
                        <li><a class="uk-text-small" href="#">Lời ngỏ</a></li>
                        <li><a class="uk-text-small" href="#">Lĩnh vực hoạt động</a></li>
                        <li><a class="uk-text-small" href="#">Năng lực hoạt động</a></li>
                        <li><a class="uk-text-small" href="#">Chính sách hoạt động</a></li>
                    </ul>
                </div>
                <div class="flex-1 mb-md-0 mb-4">
                    <h6 class="text-uppercase uk-text-bold">Hướng dẫn khách hàng</h6>
                    <ul class="nolist">
                        <li><a class="uk-text-small" href="#">Hướng dẫn đăng tin</a></li>
                        <li><a class="uk-text-small" href="#">Câu hỏi thường găp</a></li>
                        <li><a class="uk-text-small" href="#">Hướng dẫn sử dụng</a></li>
                    </ul>
                </div>
                <div class="flex-1 mb-md-0 mb-4">
                    <h6 class="text-uppercase uk-text-bold">Quy định khách hàng</h6>
                    <ul class="nolist">
                        <li><a class="uk-text-small" href="#">Hướng dẫn đăng tin</a></li>
                        <li><a class="uk-text-small" href="#">Câu hỏi thường găp</a></li>
                        <li><a class="uk-text-small" href="#">Hướng dẫn sử dụng</a></li>
                    </ul>
                </div>
                <div class="flex-1 mb-md-0 mb-4">
                    <h6 class="text-uppercase uk-text-bold">Quy định khách hàng</h6>
                    <ul class="nolist">
                        <li><a class="uk-text-small" href="#">Quy định đặt hàng</a></li>
                        <li><a class="uk-text-small" href="#">Quy định giao hàng</a></li>
                        <li><a class="uk-text-small" href="#">Phương thức thanh toán</a></li>
                        <li><a class="uk-text-small" href="#">Quy định bảo hành</a></li>
                        <li><a class="uk-text-small" href="#">Quy định đổi, trả sản phẩm</a></li>
                        <li><a class="uk-text-small" href="#">Chính sách bảo mật thông tin</a></li>
                    </ul>
                </div>
                <div class="flex-1 mb-md-0 mb-4">
                    <h6 class="text-uppercase uk-text-bold">Thông tin website</h6>
                    <ul class="nolist">
                        <li><a class="uk-text-small" href="#">Dường đến Từ Sơn</a></li>
                        <li><a class="uk-text-small" href="#">Hợp tác - Trao đổi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="uk-container py-3">
            <div class="row">
                <div class="col-md-3 mb-md-0 mb-4">
                    <a href="" class="d-block h-100 bg-secondary">
                        <img src="./dist/images/news-1.jpg" alt="" class="w-100">
                        <small class="d-block p-3 text-white">
                            Morgan Stanley: Apple sẽ trở thành công ty trị giá 1 nghìn tỉ USD trong vòng 1 năm tới
                        </small>
                    </a>
                </div>
                <div class="col-md-3 mb-md-0 mb-4">
                    <a href="" class="d-block h-100 bg-secondary">
                        <img src="./dist/images/news-1.jpg" alt="" class="w-100">
                        <small class="d-block p-3 text-white">
                            Morgan Stanley: Apple sẽ trở thành công ty trị giá 1 nghìn tỉ USD trong vòng 1 năm tới
                        </small>
                    </a>
                </div>
                <div class="col-md-3 mb-md-0 mb-4">
                    <a href="" class="d-block h-100 bg-secondary">
                        <img src="./dist/images/news-1.jpg" alt="" class="w-100">
                        <small class="d-block p-3 text-white">
                            Morgan Stanley: Apple sẽ trở thành công ty trị giá 1 nghìn tỉ USD trong vòng 1 năm tới
                        </small>
                    </a>
                </div>
                <div class="col-md-3 mb-md-0 mb-4">
                    <a href="" class="d-block h-100 bg-secondary">
                        <img src="./dist/images/news-1.jpg" alt="" class="w-100">
                        <small class="d-block p-3 text-white">
                            Morgan Stanley: Apple sẽ trở thành công ty trị giá 1 nghìn tỉ USD trong vòng 1 năm tới
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container py-5">
            <div class="row">
                <div class="col md-3  mb-md-0 mb-4">
                    <img data-src="./dist/images/bct.png" class="w-100" alt="" uk-img>
                </div>
                <div class="col-md-6  mb-md-0 mb-4">
                    <strong class="text-uppercase">
                        Tuson.vn - kênh mua sắm trực tuyến uy tín
                    </strong>
                    <div class="uk-text-small">Giấy đăng ký kinh doanh số 4500191293. 
                        được Sở Kế Hoạch Đầu Tư Ninh Thuận ký ngày 27/05/2018
                    </div>
                    <div class="uk-text-small">Địa chỉ: 487 Thống Nhất, P. Kinh Dinh, TP. Phan Rang - Tháp Chàm, Ninh Thuận</div>
                    <div class="uk-text-small">Điện thoại: 0259 382 2597</div>
                    <div class="uk-text-small">Fax: 0259 382 5300</div>
                    <div class="uk-text-small">Email: ts@tuson.vn</div>
                    <div class="uk-text-small">Người chịu trách nhiệm nội dung: Ông Lâm Văn Lẫy</div>
                </div>
                <div class="col-md-3">
                    <strong class="text-md-center text-left text-uppercase">
                        Phương thức thanh toán
                    </strong>
                    <div class="text-md-center text-left">
                        <img data-src="./dist/images/creditcard.jpg" class="w-100" alt="" uk-img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container border-top border-muted py-3 text-center">
            Bản quyền thuộc về Tuson.vn | Thiết kế và phát triển bởi Ghin.Designer
        </div>
    </div>
</footer>
</div>
<script src="./dist/js/uikit.min.js"></script>
<script src="./dist/js/uikit-icons.min.js"></script>
</body>

</html>