<form action="">
    <b class="tahoma uk-text-bold">Hiện có 142 bình luận</b>
    <textarea class="uk-textarea" name="" id="" cols="30" rows="10" placeholder="Mời các bạn thảo luận. Vui lòng nhập tiếng việt có dấu"></textarea>
    <button type="submit" class="btn btn-primary px-5 mt-3">Gửi bình luận</button>
</form>
<div class="pt-5 d-inline-flex align-items-center">
    <strong>Sắp xếp theo</strong>
    <a class="px-3" href="#">Hay nhất</a>
    <a class="px-3" href="#">Mới nhất</a>
</div>
<hr class="uk-divider-icon">
<ul class="uk-comment-list">
    <li>
        <article class="uk-comment uk-visible-toggle">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="/dist/images/avatar.png" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove">
                            <a class="uk-link-reset" href="#">Author</a>
                        </h4>
                        <p class="uk-comment-meta uk-margin-remove-top">
                            <a class="uk-link-reset" href="#">12 days ago</a>
                        </p>
                    </div>
                </div>
                <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                    <a class="uk-link-muted" href="#">Reply</a>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="d-inline-flex">
                        <a href="#" class="mr-3 text-center">
                            <i class="fa fa-comment d-md-inline-block d-block"></i>
                            <span>Bình luận</span>
                        </a>
                        <a href="#" class="mr-3 text-info text-center">
                            <i class="fa fa-thumbs-up d-md-inline-block d-block"></i>
                            <span>Thích</span>
                        </a>
                    </div>
            </div>
        </article>
        <ul>
            <li>
                <article class="uk-comment uk-comment-primary uk-visible-toggle">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="/dist/images/avatar.png" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove">
                                    <a class="uk-link-reset" href="#">Author</a>
                                </h4>
                                <p class="uk-comment-meta uk-margin-remove-top">
                                    <a class="uk-link-reset" href="#">12 days ago</a>
                                </p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                            <a class="uk-link-muted" href="#">Reply</a>
                        </div>
                    </header>
                    <div class="uk-comment-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                            sit amet.</p>
                            <div class="d-inline-flex">
                                    <a href="#" class="mr-3 text-center">
                                        <i class="fa fa-comment d-md-inline-block d-block"></i>
                                        <span>Bình luận</span>
                                    </a>
                                    <a href="#" class="mr-3 text-info text-center">
                                        <i class="fa fa-thumbs-up d-md-inline-block d-block"></i>
                                        <span>Thích</span>
                                    </a>
                                    <a href="#" class="mr-3 text-danger text-center">
                                        <i class="fa fa-thumbs-down d-md-inline-block d-block"></i>
                                        <span>Không Thích</span>
                                    </a>
                                </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="uk-comment uk-visible-toggle">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="/dist/images/avatar.png" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove">
                                    <a class="uk-link-reset" href="#">Author</a>
                                </h4>
                                <p class="uk-comment-meta uk-margin-remove-top">
                                    <a class="uk-link-reset" href="#">12 days ago</a>
                                </p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                            <a class="uk-link-muted" href="#">Reply</a>
                        </div>
                    </header>
                    <div class="uk-comment-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                            sit amet.</p>
                            <div class="d-inline-flex">
                                    <a href="#" class="mr-3 text-center">
                                        <i class="fa fa-comment d-md-inline-block d-block"></i>
                                        <span>Bình luận</span>
                                    </a>
                                    <a href="#" class="mr-3 text-info text-center">
                                        <i class="fa fa-thumbs-up d-md-inline-block d-block"></i>
                                        <span>Thích</span>
                                    </a>
                                    <a href="#" class="mr-3 text-danger text-center">
                                        <i class="fa fa-thumbs-down d-md-inline-block d-block"></i>
                                        <span>Không Thích</span>
                                    </a>
                                </div>
                    </div>
                </article>
            </li>
        </ul>
    </li>
</ul>
<ul class="uk-pagination py-2 uk-flex-center" uk-margin>
    <li>
        <a href="#">
            <span uk-pagination-previous></span>
        </a>
    </li>
    <li class="uk-active">
        <a href="#">1</a>
    </li>
    <li class="uk-disabled">
        <span>...</span>
    </li>
    <li>
        <a href="#">5</a>
    </li>
    <li>
        <a href="#">6</a>
    </li>
    <li>
        <span>7</span>
    </li>
    <li>
        <a href="#">8</a>
    </li>
    <li>
        <a href="#">
            <span uk-pagination-next></span>
        </a>
    </li>
</ul>