<ul class="nolist mt-0">
    <li>
        <a href="/">
            <i class="iconlist icon-tulanh"></i>
            <span>Tủ Lạnh</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-noicom"></i>
            <span>Điện Gia Dụng</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-dienmay"></i>
            <span>Điện Máy</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-camera"></i>
            <span>Thiết Bị Số</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-speaker"></i>
            <span>hệ Thống Âm Thanh</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-setting"></i>
            <span>Dịch Vụ Kỹ Thuật</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-giangoai"></i>
            <span>Thiết Bị Giã Ngoại</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-vienthong"></i>
            <span>Viễn Thông</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-computer"></i>
            <span>Tin Học</span>
        </a>
    </li>
    <li>
        <a href="/">
            <i class="iconlist icon-allcate"></i>
            <span>Tất Cả Danh Mục</span>
        </a>
    </li>
</ul>