<div class="row">
    <div class="col-md-12 text-md-left text-center align-items-center mb-3 home-title">
        <div class="d-md-inline-block bg-light-blue pr-md-3 position-relative title-content">
            <div class="uk-text-large text-primary text-uppercase utmshowcard d-md-inline-block d-block">
                Top khuyến mãi giá tốt nhất
            </div>
            <div class="ml-md-2 uk-text-small d-md-inline-block d-block bg-light-blue">
                Sản phẩm đến từ Samsung, Sanyo, Hitachi
            </div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <a href="">
            <img class="w-100" alt="" data-src="/dist/images/banner-left-1.jpg" uk-img>
        </a>
    </div>
    <div class="col-md-9 border border-muted bg-white">
        <div class="row">
            <% for(let i=0; i<4; i++){ %>
            <a href="/detail.html" class="col-md-3 border-right border-muted uk-card uk-card-hover">
                <div class="uk-card-media-top py-4 text-center">
                    <img src="/dist/images/canon.jpg" alt="">
                </div>
                <div class="uk-card-body p-3">
                    <div class="row align-items-center border-bottom border-muted pb-3">
                        <div class="col-3 px-0">
                            <img src="/dist/images/gif.ico" alt="">
                        </div>
                        <div class="col-9 pr-0">
                            <div class="d-block text-danger uk-text-bold">Quà Tặng</div>
                            <div class="d-block uk-text-small line-height-1">
                                <small>Voucher trị giá 500 ngàn</small>
                            </div>
                            <div class="d-block uk-text-small line-height-1">
                                <small>Máy xay sinh tố</small>
                            </div>
                        </div>
                    </div>
                    <strong class="d-block text-center">
                        Máy quay phim Canon J350 NR-F510GT-X2
                    </strong>
                    <div class="d-block text-center text-pink">
                        12,000,000
                        <small class="uk-text-top">đ</small>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</div>
<div class="row py-3">
    <div class="col-md-12 text-md-left text-center align-items-center mb-3 home-title">
        <div class="d-md-inline-block bg-light-blue pr-md-3 position-relative title-content">
            <div class="uk-text-large text-primary text-uppercase utmshowcard d-md-inline-block d-block">
                Cơ điện lạnh
            </div>
            <div class="ml-md-2 uk-text-small d-md-inline-block d-block bg-light-blue">
                Sản phẩm đến từ Samsung, Sanyo, Hitachi
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-white px-3 uk-box-shadow-medium">
            <div class="row">
                <div class="col-6 text-center border-right border-bottom border-muted p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/maygiat.png">
                    <div class="d-block text-dark text-center">
                        Máy Giặt
                    </div>
                </div>
                <div class="col-6 text-center border-bottom border-muted p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/maylanh.png">
                    <div class="d-block text-dark text-center">
                        Máy Lạnh
                    </div>
                </div>
                <div class="col-6 text-center border-right border-bottom border-muted p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/tudong.png">
                    <div class="d-block text-dark text-center">
                        Tủ Đông
                    </div>
                </div>
                <div class="col-6 text-center border-bottom border-muted p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/tulanh.png">
                    <div class="d-block text-dark text-center">
                        Tủ Lạnh
                    </div>
                </div>
                <div class="col-6 text-center border-right border-muted p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/nonglanh.png">
                    <div class="d-block text-dark text-center">
                        Máy Nóng Lạnh
                    </div>
                </div>
                <div class="col-6 text-center p-2">
                    <img class="thumb-home-left" alt="" uk-img="" data-src="/dist/images/tuda.png">
                    <div class="d-block text-dark text-center">
                        Tủ Đá
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="d-md-block d-none mt-3">
            <img data-src="/dist/images/300250.png" width="100%" alt="" uk-img>
        </a>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <ul class="nolist d-inline-flex nav-filter w-100">
                    <li class="flex-sm-1"><a class="d-block text-center p-sm-2" href="#">
                        <i class="d-block d-md-none" uk-icon="album"></i>
                        <span class="d-md-block d-none">Sản Phẩm Mới</span>
                    </a></li>
                    <li class="flex-sm-1"><a class="d-block text-center p-sm-2" href="#">
                        <i class="d-block d-md-none" uk-icon="star"></i>
                        <span class="d-md-block d-none">Sản Phẩm Bán Chạy</span>
                    </a></li>
                    <li class="flex-sm-1"><a class="d-block text-center p-sm-2" href="#">
                        <i class="d-block d-md-none" uk-icon="heart"></i>
                        <span class="d-md-block d-none">Top Yêu Thích</span>
                    </a></li>
                    <li class="flex-sm-1"><a class="d-block text-center p-sm-2" href="#">
                        <i class="d-block d-md-none" uk-icon="lifesaver"></i>
                        <span class="d-md-block d-none">Sản Phẩm Hot</span>
                    </a></li>
                    <li class="flex-sm-1"><a class="d-block text-center p-sm-2" href="#">
                        <i class="d-block d-md-none" uk-icon="tag"></i>
                        <span class="d-md-block d-none">Deal Giá Gốc</span>
                    </a></li>
                </ul>
            </div>
            <% for(let i=0; i<8; i++){ %>
            <a href="/detail.html" class="bg-white col-md-3 border border-muted uk-card uk-card-hover">
                <div class="uk-card-media-top py-4 text-center">
                    <small class="product-badge uk-label-warning p-1 line-height-1">
                        Trả góp <b>0%</b>
                    </small>
                    <img src="/dist/images/canon.jpg" alt="">
                </div>
                <div class="uk-card-body p-3">
                    <div class="row align-items-center border-bottom border-muted pb-3">
                        <div class="col-3 px-0">
                            <img src="/dist/images/gif.ico" alt="">
                        </div>
                        <div class="col-9 pr-0">
                            <div class="d-block text-danger uk-text-bold">Quà Tặng</div>
                            <div class="d-block uk-text-small line-height-1">
                                <small>Voucher trị giá 500 ngàn</small>
                            </div>
                            <div class="d-block uk-text-small line-height-1">
                                <small>Máy xay sinh tố</small>
                            </div>
                        </div>
                    </div>
                    <strong class="d-block text-center">
                        Máy quay phim Canon J350 NR-F510GT-X2
                    </strong>
                    <div class="d-block text-center text-pink">
                        12,000,000
                        <small class="uk-text-top">đ</small>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</div>