<h5 class="tahoma uk-text-bold py-3 mb-0">
    Có 5 đánh giá về Tủ Lạnh Hitachi
    <a href="#" class="btn btn-info text-white ml-md-4 mt-md-0 mt-2">
        <i uk-icon="pencil" class="mr-2"></i>Gửi đánh giá 
        <span class="d-inline-block d-none">của bạn</span>  
    </a>
</h5>
<ul class="nolist my-0">
    <% for(let i = 0; i < 5; i++) { %>
        <li class="mb-md-4 mb-3">
            <div class="d-block">
                <strong>Mỹ Hạnh</strong> đã mua tại
                <span class="text-info">tuson.vn</span>
                <div>
                    <div class="d-md-inline-block mr-md-2">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span>Thiết kế đẹp, sang trọng. tính năng hiện đại</span>
                </div>
            </div>
        </li>
        <% } %>
</ul>
<ul class="uk-pagination" uk-margin>
    <li>
        <a href="#">
            <span uk-pagination-previous></span>
        </a>
    </li>
    <li>
        <a href="#">1</a>
    </li>
    <li class="uk-disabled">
        <span>...</span>
    </li>
    <li>
        <a href="#">4</a>
    </li>
    <li>
        <a href="#">5</a>
    </li>
    <li>
        <a href="#">6</a>
    </li>
    <li class="uk-active">
        <span>7</span>
    </li>
    <li>
        <a href="#">8</a>
    </li>
    <li>
        <a href="#">9</a>
    </li>
    <li>
        <a href="#">10</a>
    </li>
    <li class="uk-disabled">
        <span>...</span>
    </li>
    <li>
        <a href="#">20</a>
    </li>
    <li>
        <a href="#">
            <span uk-pagination-next></span>
        </a>
    </li>
</ul>